$primary-color: #e55169;
$primary-color-light: #fd627a;
$primary-color-lighter: #ff758a;
$primary-color-dark: #c24156;
$text-color: white;
$secondary-color: #2d323e;
$dark-color: #151a24;
$light-color: #d3d3d3;

$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-40: 40px;
$fs-60: 60px;
$fs-74: 74px;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$lh-15: 15.4px;
$lh-17: 17.6px;
$lh-20: 20.8px;
$lh-22: 22px;
$lh-24: 24.2px;
$lh-25: 25.22px;
$lh-26: 26.4px;
$lh-44: 44px;
$lh-60: 60px;
$lh-81: 81.4px;

$ls-med: 0.88px;

$ff-ubuntu-mono: 'Ubuntu Mono', monospace;
