@use 'base';

.button {
  font-weight: base.$fw-500;
  text-decoration: none;
  border: none;
  padding: 10px 24px;
  color: base.$text-color;
  font-family: 'Poppins';
  box-shadow: 4px 4px 10px rgba(5.18, 7.42, 27.63, 0.8);
  border-radius: 24.65px;
  position: relative;
  height: 45px;
  width: 180px;

  &__spinner {
    vertical-align: middle;

    &__text {
      padding-left: 8px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 0 8px;
    font-size: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &.color {
    &--primary {
      background-color: base.$primary-color;

      &:hover {
        background-color: base.$primary-color-light !important;
      }
    }

    &--blue {
      background-color: base.$blue-color;

      &:hover {
        background-color: base.$blue-color-light !important;
      }
    }

    &--secondary {
      background-color: base.$primary-color;

      &:hover {
        background-color: base.$primary-color-light !important;
      }
    }

    &--outline {
      background-color: transparent;
      border: 2px base.$primary-color solid;

      &:hover {
        color: base.$primary-color-lighter !important;
      }
    }
  }
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
