@use 'base';

.main {
  height: 100%;
  background-color: base.$secondary-color;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  &__button-on-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
