@use 'base';

.main {
  height: 100%;
  background-color: base.$secondary-color;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  @media only screen and (max-width: 600px) {
    padding-bottom: 120px;
  }

  &__button-on-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__slider {
    &__bg {
      height: 231px;
    }
  }
}
