@use 'base';

.linkbar {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: base.$primary-color-dark;
  width: 100%;
  margin-left: 0 !important;

  @media only screen and (max-width: 600px) {
    font-size: base.$fs-10;
  }

  &__link {
    font-weight: base.$fw-700;
    color: base.$text-color;
    text-decoration: none;
    margin-left: 12px;
  }
}

.header {
  background-image: url(/assets/header-background.svg);
  height: calc((632 / 1366) * 100vw);
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: base.$secondary-color;
  position: relative;
  margin-left: 0 !important;
  &__nav {
    display: flex;
    justify-content: space-between;
    height: auto;

    &__button {
      @media only screen and (max-width: 600px) {
        margin-top: 5px;
        margin-right: 0;
      }
      margin-top: 18px;
      margin-right: 40px;

      &__result {
        @media only screen and (max-width: 600px) {
          margin-right: 0;
        }
        margin-right: 15px;
      }
    }

    &__logo {
      img {
        @media only screen and (max-width: 600px) {
          height: 40px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__main {
    position: absolute;
    left: 52%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    &__subtitle {
      @media only screen and (max-width: 600px) {
        font-size: base.$fs-10;
        line-height: base.$lh-6;
      }
      color: base.$primary-color-light;
      text-transform: uppercase;
      font-size: base.$fs-22;
      font-weight: base.$fw-700;
      letter-spacing: base.$ls-med;
      line-height: base.$lh-20;
    }

    &__title {
      @media only screen and (max-width: 600px) {
        font-size: base.$fs-20;
        line-height: base.$lh-22;
        margin-top: 5px;
      }
      margin-top: 20px;
      font-size: base.$fs-40;
      word-wrap: break-word;
      font-weight: base.$fw-700;
      line-height: base.$lh-44;
    }

    &__season {
      &__title {
        @media only screen and (max-width: 600px) {
          font-size: base.$fs-12;
          line-height: base.$lh-15;
          margin-top: 5px;
        }
        margin-top: 20px;
        font-size: base.$fs-24;
        font-weight: base.$fw-300;
        line-height: base.$lh-26;
        word-wrap: break-word;
      }

      &__img {
        padding-top: 17px;
        @media only screen and (max-width: 600px) {
          height: 20px;
          padding-top: 5px;
        }
      }
    }

    &__links {
      @media only screen and (max-width: 600px) {
        margin-top: 5px;
      }
      margin-top: 16px;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
  }
}
